@font-face {
    font-family: 'Work Sans';
    src: url(../fonts/WorkSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Work Sans';
    src: url(../fonts/WorkSans-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Work Sans';
    src: url(../fonts/WorkSans-Bold.ttf);
    font-weight: 700;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.wrapper {
    padding: 27px 45px 33px 38px;
    display: grid;
    grid-template-columns: 272px 211px 211px;
    grid-auto-rows: 20px;

    width: 694px;
    height: 420px;
    
    background: #FFB084;
    border-radius: 20px;
}

.wrapper > div {
    border-radius: 20px;
    padding: 15px 25px;
    background-color: #ffffff;
    margin: 11px;                     
    box-sizing: border-box;
}

.name {
    grid-row: 1/18;
    text-align: center;
    box-shadow: 7px 7px 0px #000000;
}

.name-heading {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

.name img {
    margin: 17px 0;
}

.name-text {
    text-align: left;
    font-size: 12px;
    line-height: 14px;  
}

.name-text span {
    font-weight: 600;
}

.name-text p span + span {
    margin-left: 19px;
}

.bio {
    width: 400px;
    grid-row: 1/8;
    grid-column: 2/4;
    box-shadow: 7px 7px 0px #000000;
}

.bio-heading {
    font-weight: 700;
    margin-bottom: 7px;
}

.logo {
    grid-row: 18/22;
    box-shadow: 7px 7px 0px #000000;
    font-weight: 700;
}

.goals {
    width: 189px;
    grid-row: 8/14;
    grid-column: 2/3;
    box-shadow: 7px 7px 0px #29A71E;
}

.goals-heading {
    font-weight: 700;
    color: #29A71E;
}

.list {
    margin: 7px 0 0 0;
    padding: 0 0 0 15px;
}

.frustrations {
    width: 189px; 
    grid-row: 8/17;
    grid-column: 3/4;
    box-shadow: 7px 7px 0px #E13535;
}

.frustrations-heading {
    font-weight: 700;
    color: #E13535;
}

.dream-companies {
    width: 189px;
    grid-row: 14/22;
    grid-column: 2/3;
    box-shadow: 7px 7px 0px #3675B0;
}

.dream-companies-heading {
    font-weight: 700;
    color: #3675B0;
}

.personality {
    width: 189px;
    grid-row: 17/22;
    grid-column: 3/4;
    box-shadow: 7px 7px 0px #000000;
}

.personality-heading {
    font-weight: 700;
    margin-bottom: 7px;
}

.personality-text p {
    margin: 0;
}